/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
   
/* ----我是分隔----- */

.warp{
  width: 1024px;
  margin: 0 auto;
}

h1 {
  font-size: 40px;
  color: black;
  text-align: center;
  margin-top: 3vh;
  margin-bottom: 3vh;  
}

.header{
  background-color: #424242;
  /* height: 33vh; */
  max-width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;  
}

.header .photo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 30px;
}

.header .inputData{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 30px;
  font-size: 30px;
  color: #FFD366 ;  
}

.header .inputData .personheight,
.header .inputData .personweight
 {
  width: 250px;
  font-size: 20PX;
  margin-bottom: 10px;
  color: whitesmoke;
  border: #FFD366 3px solid;
  border-radius: 10px;
  background-color: #646464;
}

.header .inputData .personheight::placeholder,
.header .inputData .personweight::placeholder
 {
  color: whitesmoke;
}

.header .submitData{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 30px;
  font-size: 18px;  
}


.submitDatabtn{
  color: #424242 ;
  background-color: #FFD366;
  border-radius: 50%;
  border: 0px ;
  width: 150px;
  height: 150px;
  font-size: 25px;
}

/*以下更改按鈕顏色*/

.submitDatabtn{
  font-weight: bold;
  font-size: 25px;  
}

.submitDatabtn.blue{
  color:#31BAF9;
  border: #31BAF9 5px solid;
  background-color: #424242;
}

.submitDatabtn.green{
  color:#86D73F;
  border: #86D73F 5px solid;
  background-color: #424242;
}

.submitDatabtn.orange{
  color:orange;
  border: orange 5px solid;
  background-color: #424242;
}

.submitDatabtn.red{
  color:red;
  border: red 5px solid;
  background-color: #424242;
}


.bmiFin{
  font-weight: bold;
  position: relative;
  top: -30%;
  left: 18%;
}

.bmiFin.blue{
  color:#31BAF9;
}

.bmiFin.green{
  color:#86D73F;
}

.bmiFin.orange{
  color:orange;
}

.bmiFin.red{
  color:red;
}

.bmiFin img{
  border-radius: 50%;
  border: 3px #424242 solid;
  width: 25px;
  height: 25px;
  position: relative;
  top: 0;
  left: 20%;
}

.bmiFin.blue img{
  background-color:#31BAF9;
}

.bmiFin.green img{
  background-color:#86D73F;
}

.bmiFin.orange img{
  background-color:orange;
}

.bmiFin.red img{
  background-color:red;
}


/*以上更改按鈕顏色*/

.content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  background-color: gray;
}

h2{
  text-align: center;
  font-size: 25px;
  margin: 10px auto;
}

.content .card ul{
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}

.content .card ul li{
  text-align: center;
  font-size: 20px;
  color: #559ac8;
  background-color: aliceblue;
  border-radius: 2px;
  margin: 10px;
  padding: 5px 20px;
  
}

/* 區分顏色 */
.content .card ul .red{
  border-left: red 10px solid;
}

.content .card ul .orange{
  border-left: orange 10px solid;
}

.content .card ul .green{
  border-left: #86D73F 10px solid;
}

.content .card ul .blue{
  border-left: #31BAF9 10px solid;
}

/* 區分顏色結束 */


.content .card ul li span{
  font-size: 35px;
  font-weight: bold;
  color: #559ac8
}

.content .card ul li a{
  font-size: 15px;
}


.content .clearlink p {
text-align: right;
}

/* .card {
  display: flex;
  flex-direction: row;
  justify-content: center;
} */


.footer{
  background-color: #FFD366  ;
  font-size: 15px;
  text-align: center;
  color: #4A4A4A ;
  padding: 20px 0px;
}

